*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/* header section starts here */
header{
    background-color: rgba(229, 84, 115, 0.10);
    height: 100vh;
}
.header_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header-flower{
    height: 700px;
    padding: 30px;
}
.header_text{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}
.header_h1{
    width: 700px;
    color: #272727;
    font-size: 70px;
    padding: 30px 0;
}
.header_p{
    width: 630px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    padding-bottom: 30px;
}
.header_btn{
    color: white;
    font-size: 20px;
    font-weight: 700;
    background-color: #E55473;
    border-radius: 8px;
    border: none;
    width: 200px;
    padding: 20px 40px;

}
/* deal section starts here */
.deal-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px 50px;
    margin: 50px 0;
    background-color: rgba(229, 84, 115, 0.05);
    border-radius: 8px;
}
.deal-h2{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding: 25px;
}
.deal-span{
    color: #E55473;
}
.deal-btn{
    text-align: center;
}
/* footer section starts here */
footer{
    background-color: #111010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 450px;
}
.footer-h2{
    color: white;
    font-size: 48px;
    font-weight: 800;
    padding: 20px;
}
.fspan{
    color: #E55473;
}
.footer-p{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    width: 625px;
}
.footer_p{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
}
/* latest deals section starts here */
.latest-container{
    background-image: url('../Flower Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 140px;
    border-radius: 8px;
}
.linput{
    padding: 20px;
    border-radius: 8px;
    background-color:white;
    width: 500px;
}
.latest-form{
    display: flex;
    gap: 20px;
}
/* instagram section starts here */
.insta{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    padding: 30px;
    margin:0 500px;
}
.insta_h2{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding: 30px;
}
.insta_p{
    width: 630px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    height: 0px;
}
.gallery{
    display: flex;
    gap: 15px;
    margin: 0 140px;
    justify-content: center;
    margin-bottom: 100px;
    /* padding: 50px; */
}
.gallery img{
    width: 295px;
}
/* featured section starts here */
.featured{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    text-align: center;
}
.featured-img{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    margin-top: 40px;
}
.img1{
    height: 400px;
    padding: 50px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
}
.img2{
    height: 400px;
    width: 300px;
    padding: 50px;
    background-size: contain;
    /* border-width: thin; */
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
}
.img3{
    height: 400px;
    padding: 50px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);
}
.img1div{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.img-p{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    /* border-bottom: 1px solid black; */
    text-decoration: underline;
}